<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087233785009-dihqpqhl13c78i0vii16g0sil482sa4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087233785009-dihqpqhl13c78i0vii16g0sil482sa4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDv6zTK7L0DmbyLSydSRwTbdZVkwPUg1-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1087233785009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanpablo.paylist</string>
	<key>PROJECT_ID</key>
	<string>paylist-d8310</string>
	<key>STORAGE_BUCKET</key>
	<string>paylist-d8310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087233785009:ios:c547c9c289198ff90b7690</string>
	<key>DATABASE_URL</key>
	<string>https://paylist-d8310.firebaseio.com</string>
</dict>
</plist>